body {
    background-color: white;
}

#A {
    float: right;
}

button {
    FLOAT: RIGHT
}

#B {
    background-color: lavenderblush;
}

#D {
    height: 600px;
    width: 1350PX;
}

#E {
    background-color: lemonchiffon;
}

#F {
    background-color: rgb(193, 209, 209);
}

a {}

#k {
    background-color: darkgray;
}